<mat-card >


  <mat-card-content class="mt20">
    <div class="bootstrap-wrapper">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <form (ngSubmit)="formSubmit()" >
            <mat-form-field class="w100" appearance="fill">
              <mat-label>Course no</mat-label>

              <input
                required
                
                type="text"
                name="title"
                matInput
                placeholder="ESC101"
                [(ngModel)]="category.title"
              />
            </mat-form-field>

            <mat-form-field class="w100" appearance="fill">
              <mat-label>Course Title</mat-label>

              <input
                name="description"
                matInput
                
                placeholder="Introduction to programming"
                [(ngModel)]="category.description"
                
              />
            </mat-form-field>

            <div class="container text-center mt15">
              <button mat-raised-button color="accent" type="submit">Add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
